@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-image:linear-gradient(90deg, rgb(128, 198, 245), rgb(64, 31, 185));
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.esquerda {
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.direita {
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0;
}

.principal {
    display: none;
}

.esquerda h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
}

.esquerda h1 span {
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
    background-color: rgb(6, 6, 66);
    border-radius: 20px;  
    width: 140px;
    padding: 10px 25px 1px 25px;
    animation: aparecer 3s ease-in-out 1 forwards;
    font-family: 'Bebas Neue', sans-serif;
}

.direita h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 65px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
    background-color: rgb(16, 25, 65);
    font-family: 'Bebas Neue', sans-serif;
}

.esquerda h2 {
    margin-top: 230px;
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
}

.direita p {
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 100px;
}

.direita p a{
    text-decoration: none;
    color: white;
}

.btns {
    width: 100%;
    display: flex;
    margin-top: 110px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.btns .btn {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.507);
    padding: 15px 80px;
    border-radius: 20px;
    border: none;

}

.direita a {
    padding-top: 10px;
    color: white;
    display: block;
    text-align: center;
}

/* #text{
    position: relative;
    top: -535px;
    left: 628px;
    font-size: 65px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
    padding: 18px 15px 1px 70px;
    background-color: rgb(209, 209, 159);
    width: 600px;
    height: 100px;
    animation: aparecer2 3s ease-in  1 forwards;
}
#p1{
    position: relative;
    top: -500px;
    left: 755px;
    font-size: 38px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
    animation: aparecer2 3s ease-in  1 forwards;

    
}
#p2{
    position: relative;
    top: -490px;
    left: 850px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 12px 1px 1px 55px;
    background-color: rgba(255, 255, 255, 0.507);
    width: 150px;
    height: 58px;
    border-radius: 20px;
    animation: aparecer2 3s ease-in  1 forwards;
}
#p3{
    position: relative;
    top: -490px;
    left: 850px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 12px 1px 1px 55px;
    background-color: rgba(255, 255, 255, 0.507);
    width: 150px;
    height: 58px;
    border-radius: 20px;
    animation: aparecer2 3s ease-in  1 forwards;
}
#p4{
    position: relative;
    top: -520px;
    left: 880px;
    font-size: 15px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
    animation: aparecer2 3s ease-in  1 forwards;
}
#p5{
    position: relative;
    top: -490px;
    left: 730px;
    font-size: 0px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
    animation: aparecer2 3s ease-in  1 forwards;
}


h2{
    position: relative;
    top: 50px;
    left: 170px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
    animation: aparecer 3s ease-in-out 1 forwards;

}
#in{
    position: relative;
    left: 160px;
    top: 70px;
    font-size: 100px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
    animation: aparecer 3s ease-in-out 1 forwards;

    
}
#game{
    position: relative;
    left: 200px;
    top: 100px;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
    background-color: rgb(6, 6, 66);
    border-radius: 20px;  
    width: 140px;
    padding: 10px 25px 1px 25px;
    animation: aparecer 3s ease-in-out 1 forwards;
    font-family: 'Bebas Neue', sans-serif;
}

#principal{
    width: 39%;
    position: relative;
    top: -1080px;
    left: 620px;
    animation: surgir 3s ease 1 forwards;
}

@keyframes aparecer {
    0% {
        opacity: 0; 
    }
    20% {
        opacity: 1; 
    }
    55% {
        opacity: 1; 
    }
    100% {
        opacity: 0; 
    }
}

@keyframes surgir {
    0%{
        opacity: 0; 
        transform: translateY(40px); 
    }
    100%{
        opacity: 1;
        transform: translateX(-500px);
    }
}
@keyframes aparecer2 {
    0% {
        opacity: 0; 
    }
    
    50% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}
a{
    text-decoration: none;
    color: white;
}
 */